<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAMERAMEN</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name='robots' content='noindex, follow'/>
</head>
<body>
  <h1>CAMERAMEN</h1>
  <h1>CEPAT MENCARI ARSIP KEBUMEN</h1>
  <form action="/search" method="POST">
    <label for="creator">Pencipta:</label>
    <input type="text" name="creator" id="creator" placeholder="Masukkan nama pencipta">

    <label for="title">Judul:</label>
    <input type="text" name="title" id="title" placeholder="Masukkan judul">

    <label for="year">Tahun:</label>
    <input type="text" name="year" id="year" placeholder="Masukkan tahun">

    <button type="submit" class="pure-steps_group-step_legend">Cari</button>
  </form>

  <% if (results) { %>
    <h2>Hasil Pencarian:</h2>

    <% if (results.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>Deskripsi</th>
            <th>Kurun Waktu</th>
            <th>Ruangan</th>
            <th>Rak</th>
            <th>Box</th>
            <th>Kondisi</th>
            <th>Pencipta Arsip</th>
            <th>Kode Daftar SIKD</th>

            
          </tr>
        </thead>
        <tbody>
          <% results.forEach((row) => { %>
            <tr>
              <td><%= row[1] %></td> 
              <td><%= row[2] %></td> 
              <td><%= row[3] %></td> 
              <td><%= row[4] %></td> 
              <td><%= row[5] %></td> 
              <td><%= row[6] %></td> 
              <td><%= row[7] %></td> 
              <td><%= row[8] %></td> 
              <td><%= row[9] %></td> 
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>Tidak ada hasil yang ditemukan.</p>
    <% } %>
  <% } %>
</body>
</html>
